@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-justify($justify) {
    @include flex-center;
    justify-content: $justify;
}

@mixin flex-direction($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin disable-borders {
    border: none;
    outline: none;
}