@import "./mixins.scss";

$SearchFieldsBackground: rgb(248, 246, 248);
$DarkModeCoreBackground: rgb(21,30,45);
$DarkModeBackground: rgb(30,47,68);

$CoreDarkCyan: rgb(47 176 206);

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;700&display=swap');