@import "./mixins.scss";

$SearchFieldsBackground: rgb(248, 246, 248);
$DarkModeCoreBackground: rgb(21,30,45);
$DarkModeBackground: rgb(30,47,68);
$DarkModeFontColor: rgb(255, 255, 255);

$CoreDarkCyan: rgb(47 176 206);
$CoreOrange: rgb(255, 69, 0);

$BigDesktopWidth: 1550px;
$MediumDesktopWidth: 1500px;
$OldDesktopWidth: 1200px;
$SmallDesktopWidth: 1000px;
$BigMobileWidth: 768px;
$BigMobileHeight: 770px;

$CoreFontFamily: "Sora";
$SmallComponentsFontFamily: "Tilt Neon";

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');