@import "../General/variables.scss";

.ExperienceFilter {
    padding: 20px;
    font-family: "Sora";

    p {
        font-size: 22px;
    }
}

.ExperienceFilter.dark {
    p {
        color: $DarkModeFontColor;
    }
}