@import "../General/variables.scss";

header {
    height: 8%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr 2fr;
    font-family: "Sora";

    #LogoContainer {
        display: flex;
        align-items: center;

        p {
            font-size: 20px;
            margin-left: 35px;

            .secondPartOfLogo {
                color: rgb(56, 127, 237);
            }
        }
    }

    .UserDatasContainer {
        height: 100%;
    }
}

header.dark {
    background-color: $DarkModeBackground;
    color: white;
}