@import "../General/variables.scss";

header {
    @include width-height(100%, 8%);
    display: none;
    font-family: "Sora";

    #LogoContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 20px;
            margin-left: 35px;

            .secondPartOfLogo {
                color: rgb(56, 127, 237);
            }
        }

        svg {
            display: none;
            margin-right: 12vw;
            height: 30px;
        }

        @media (max-width: $BigMobileWidth) {
            height: 30%;

            svg {
                display: flex;
            }
        }
    }

    .UserDatasContainer {
        height: 100%;

        @media (max-width: $BigMobileWidth) {
            height: 20%;
        }
    }

    @media (max-width: $BigMobileWidth) {
        display: none;
        height: 50%;
        // display: flex;
        flex-direction: column;
    }
}

header.HideHeader {
    display: none;
}

header.ShowHeader {
    display: grid;
    grid-template-columns: 3fr 7fr 2fr;

    .UserDatasContainer {
        @media (max-width: $BigMobileWidth) {
            height: 30%;
            margin-top: 5vh;
        }
    }

    @media (max-width: $BigMobileWidth) {
        height: 40%;
        display: flex;
        flex-direction: column;
    }
}

header.dark {
    background-color: $DarkModeBackground;
    color: white;
}