@import "../General/variables.scss";

.loadingPhase {
    &.JobOffers {
        @include flex-center;
    }
}

.JobOffers {
    @include width-height(100%, 97%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 10px;
    margin-right: 100px;
    overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

    @media (max-width: $MediumDesktopWidth) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $SmallDesktopWidth) {
        grid-template-columns: 1fr;
    }

    @media (max-width: $BigMobileWidth) {
        height: 50%;
    }
}