@import "../General/variables.scss";

.loadingPhase {
    &.JobOffers {
        @include flex-center;
    }
}

.JobOffers {
    height: 100%;
    width: 97%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 10px;
    overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        
}