@import "../General/variables.scss";

aside {
    @include width-height-val(100%);

    .DisplayStrategyMode {
        @include flex-center;
        @include width-height(100%, 3%);

        p {
            margin-right: 20px;
            font-size: 24px;
            font-family: "Sora";
        }

        svg {
            height: 100%;
            margin-right: 10px;
            cursor: pointer;

            // &:nth-child(3) {
            //     color: $CoreDarkCyan;
            // }
        }

        svg.ActiveDisplayMode {
            color: $CoreDarkCyan;
        }
    }

    .SearchConfirm {
        @include flex-center;

        button {
            @include disable-borders;
            @include width-height(50%, 50%);
            min-height: 45px;
            margin: auto;
            background-color: $CoreDarkCyan;
            color: white;
            border-radius: 12px;
            cursor: pointer;
        }
    }
    
}

aside.dark {
    h1 {
        color: white;
    }
}