@import "../General/variables.scss";

.SalaryFilter {
    @include width-height(100%, 10%);
    padding: 14px;

    p {
        position: relative;
        margin-bottom: 8px;
        font-size: 24px;
        font-family: $CoreFontFamily;

        svg {
            position: absolute;
            right: 0;
            display: none;

            @media (max-width: $BigMobileWidth) {
                position: absolute;
                right: 0;
                display: inline;
            }
        }

        @media (max-width: $OldDesktopWidth) {
            font-size: 20px;
        }
    }

    &__NumberInputs {
        @include flex-center;
        margin-top: 20px;

        span {
            margin-right: 14px;
            font-size: 19px;
            font-family: $CoreFontFamily;

            &:nth-child(3) {
                margin-left: 16px;
            }

            @media (max-width: $OldDesktopWidth) {
                font-size: 15px;
            }

            @media (max-width: $SmallDesktopWidth) {
                font-size: 14px;
            }
        }

        input[type="number"] {
            width: 25%;
            height: 30px;
            text-align: center;
            border: 2px solid black;
            border-radius: 5px;
            font-size: 100%;
            font-family: $CoreFontFamily;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            @media (max-width: $OldDesktopWidth) {
                font-size: 80%;
            }
        }
    }

    &.dark {
        p {
            color: $DarkModeFontColor;
        }
    
        span {
            color: $DarkModeFontColor;
        }
    }
}