@import "../General/variables.scss";

.SalaryFilter {
    width: 100%;
    height: 10%;
    padding: 14px;

    p {
        font-size: 24px;
        font-family: "Sora";
        margin-bottom: 8px;
    }

    .SalaryNumberInputs {
        @include flex-center;
        margin-top: 20px;

        span {
            font-size: 20px;
            font-family: "Sora";
            margin-right: 14px;

            &:nth-child(3) {
                margin-left: 16px;
            }
        }

        input[type="number"] {
            width: 25%;
            height: 30px;
            border: 2px solid black;
            border-radius: 5px;
            text-align: center;
            font-size: 100%;
            font-family: "Sora";

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}