@import "../General/variables.scss";

.SearchFields {
    @include flex-direction(row);
    width: 100%;
    align-items: center;
    gap: 10px;
    font-family: "Sora";

    .JobSearch, .PlaceSearch {
        min-width: 35%;
        padding: 12px;
        background-color: $SearchFieldsBackground;
        border: 1px solid lightgray;
        border-radius: 10px;

        input {
            @include disable-borders;
            background-color: $SearchFieldsBackground;
            font-weight: bold;
        }

        svg {
            padding-right: 5px;
        }
    }

    .SearchSubmitButton {
        @include flex-justify(start);
        width: 20%;
        min-height: 50px;
        min-width: 100px;

        button {
            @include disable-borders;
            @include width-height(100%, 50%);
            padding: 15px;
            border-radius: 12px;
            background-color: rgb(46, 128, 255);
            color: white;
        }
    }
}