@import "../General/variables.scss";

.UserDatas {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5px;
    position: relative;

    .PictureData {
        height: 40%;
        border-radius: 50%;
    }

    .down-arrow {
        width: 26px;
        height: 12px;
    }

    .modalUserDatas {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 45%;
        top: 110%;
        height: 300%;
        width: 110%;
        min-height: 200px;
        background-color: white;
        border-radius: 15px;

        .GeneralDatas {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 10px;

            .BasicDatas {
                display: flex;
                flex-direction: column;

                margin-right: 5px;

                &:nth-child(2) {

                    svg {
                        margin-right: 2px;
                    }

                    .SmallerLocationFont {
                        font-size: 12px;
                    }

                    .SmallestLocationFont {
                        font-size: 10px;
                    }
                }
            }

            img {
                border-radius: 50%;
            }
        }

        hr {
            width: 90%;
            margin: 5px 4px 5px 4px;
        }

        .StatisticsFields {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 4px;
        }

        button {
            @include disable-borders;
            width: 40%;
            height: 15%;
            max-width: 120px;
            min-height: 50px;
            margin-top: 15px;
            padding: 5px;
            color: white;
            font-family: "Sora";
            background-color: rgb(46, 128, 255);
            border-radius: 12px;
        }
    }
}

.rotateArrowUp {
    animation: rotateArrowUpAnimation 1s forwards;
}

.rotateArrowDown {
    animation: rotateArrowDownAnimation 1s forwards;
}

.moveUserDataToRight {
    animation: MoveDataToRightAnimation 1s forwards;
}

.moveUserDataToLeft {
    animation: MoveDataToLeftAnimation 1s forwards;
}

.ModalUserData-enter-to {
    animation: DisplayModalUserDatas 2s forwards;
}

@keyframes rotateArrowUpAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateArrowDownAnimation {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes MoveDataToRightAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(40%);
    }
}

@keyframes MoveDataToLeftAnimation {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes DisplayModalUserDatas {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}