@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;500;700&display=swap");
.UserDatas {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
  position: relative;
}
.UserDatas .PictureData {
  height: 40%;
  border-radius: 50%;
}
.UserDatas .down-arrow {
  width: 26px;
  height: 12px;
}
.UserDatas .modalUserDatas {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 45%;
  top: 110%;
  height: 300%;
  width: 110%;
  min-height: 200px;
  background-color: white;
  border-radius: 15px;
}
.UserDatas .modalUserDatas .GeneralDatas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
.UserDatas .modalUserDatas .GeneralDatas .BasicDatas {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.UserDatas .modalUserDatas .GeneralDatas .BasicDatas:nth-child(2) svg {
  margin-right: 2px;
}
.UserDatas .modalUserDatas .GeneralDatas .BasicDatas:nth-child(2) .SmallerLocationFont {
  font-size: 12px;
}
.UserDatas .modalUserDatas .GeneralDatas .BasicDatas:nth-child(2) .SmallestLocationFont {
  font-size: 10px;
}
.UserDatas .modalUserDatas .GeneralDatas img {
  border-radius: 50%;
}
.UserDatas .modalUserDatas hr {
  width: 90%;
  margin: 5px 4px 5px 4px;
}
.UserDatas .modalUserDatas .StatisticsFields {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
}
.UserDatas .modalUserDatas button {
  border: none;
  outline: none;
  width: 40%;
  height: 15%;
  max-width: 120px;
  min-height: 50px;
  margin-top: 15px;
  padding: 5px;
  color: white;
  font-family: "Sora";
  background-color: rgb(46, 128, 255);
  border-radius: 12px;
}

.rotateArrowUp {
  -webkit-animation: rotateArrowUpAnimation 1s forwards;
          animation: rotateArrowUpAnimation 1s forwards;
}

.rotateArrowDown {
  -webkit-animation: rotateArrowDownAnimation 1s forwards;
          animation: rotateArrowDownAnimation 1s forwards;
}

.moveUserDataToRight {
  -webkit-animation: MoveDataToRightAnimation 1s forwards;
          animation: MoveDataToRightAnimation 1s forwards;
}

.moveUserDataToLeft {
  -webkit-animation: MoveDataToLeftAnimation 1s forwards;
          animation: MoveDataToLeftAnimation 1s forwards;
}

.ModalUserData-enter-to {
  -webkit-animation: DisplayModalUserDatas 2s forwards;
          animation: DisplayModalUserDatas 2s forwards;
}

@-webkit-keyframes rotateArrowUpAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateArrowUpAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes rotateArrowDownAnimation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotateArrowDownAnimation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes MoveDataToRightAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40%);
  }
}
@keyframes MoveDataToRightAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40%);
  }
}
@-webkit-keyframes MoveDataToLeftAnimation {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes MoveDataToLeftAnimation {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes DisplayModalUserDatas {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes DisplayModalUserDatas {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=UserDatasStyles.css.map */