@keyframes rotateArrowUpAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateArrowDownAnimation {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes MoveDataToRightAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(40%);
    }
}

@keyframes MoveDataToLeftAnimation {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes DisplayModalUserDatas {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}