@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;500;700&display=swap");
.OfferDetailView {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: scroll;
}
.OfferDetailView .OfferDetailViewContent {
  justify-content: center;
  align-items: start;
  width: 50%;
  margin-top: 5vh;
}
.OfferDetailView .OfferDetailViewContent .OfferDetailViewContentCard {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 7vh;
}
.OfferDetailView .OfferDetailViewContent .OfferDetailViewContentCard img {
  max-width: 180px;
  max-height: 120px;
}
@media (max-width: 768px) {
  .OfferDetailView .OfferDetailViewContent .OfferDetailViewContentCard img {
    max-width: 120px;
    max-height: 90px;
  }
}
.OfferDetailView .OfferDetailViewContent .OfferDetailViewContentCard p {
  margin-top: 14px;
  text-align: center;
  font-size: 50px;
  font-family: "Sora";
}
@media (max-width: 768px) {
  .OfferDetailView .OfferDetailViewContent .OfferDetailViewContentCard p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .OfferDetailView .OfferDetailViewContent .OfferDetailViewContentCard {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
}
.OfferDetailView .OfferDetailViewContent .OfferDetailViewContentDatas section article {
  font-family: "Sora";
}
.OfferDetailView .OfferDetailViewContent .OfferDetailViewContentDatas section article p {
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .OfferDetailView .OfferDetailViewContent .OfferDetailViewContentDatas section article p {
    text-align: center;
  }
}
.OfferDetailView .OfferDetailViewContent .OfferDetailViewContentDatas section article .SkillContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
}
.OfferDetailView .OfferDetailViewContent .OfferDetailViewContentDatas section article .SkillContainer span {
  font-size: 100%;
  border: 2px solid grey;
  padding: 2px;
  height: 30px;
  width: 100%;
  max-width: 220px;
}
.OfferDetailView .OfferDetailViewContent .OfferDetailViewContentDatas section article .RequirementsContainer {
  list-style-type: none;
}
.OfferDetailView .OfferDetailViewContent .OfferDetailViewContentDatas section article .RequirementsContainer li {
  margin: 9px;
  margin-left: 16px;
}
.OfferDetailView .OfferDetailViewContent .OfferDetailViewContentDatas section article .JobDescription {
  margin: 14px;
}
@media (max-width: 768px) {
  .OfferDetailView .OfferDetailViewContent .OfferDetailViewContentDatas section article .JobDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.OfferDetailView .OfferDetailViewContent .BackButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}
.OfferDetailView .OfferDetailViewContent .BackButtonContainer button {
  border: none;
  outline: none;
  margin-bottom: 2vh;
  border-radius: 15px;
  font-size: 100%;
  background-color: rgb(47, 176, 206);
}
@media (max-width: 768px) {
  .OfferDetailView .OfferDetailViewContent {
    width: 100%;
  }
}

.OfferDetailView.dark {
  background-color: rgb(30, 47, 68);
}
.OfferDetailView.dark button, .OfferDetailView.dark p, .OfferDetailView.dark span, .OfferDetailView.dark li {
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=OfferDetailsViewStyles.css.map */