@import "../General/variables.scss";

.OfferDetailView {
    @include width-height-val(100%);
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: scroll;

    .OfferDetailViewContent {
        justify-content: center;
        align-items: start;
        width: 50%;
        margin-top: 5vh;

        .OfferDetailViewContentCard {
            display: flex;
            flex-direction: row;
            gap: 50px;
            margin-bottom: 7vh;
            
            img {
                max-width: 180px;
                max-height: 120px;

                @media (max-width: $BigMobileWidth) {
                    max-width: 120px;
                    max-height: 90px;
                }
            }

            p {
                margin-top: 14px;
                text-align: center;
                font-size: 50px;
                font-family: "Sora";

                @media (max-width: $BigMobileWidth) {
                    font-size: 20px;
                }
            }

            @media (max-width: $BigMobileWidth) {
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                gap: 10px;
            }
        }

        .OfferDetailViewContentDatas {

            section {

                article {
                    font-family: "Sora";

                    p {
                        font-size: 32px;
                        margin-top: 16px;
                        margin-bottom: 16px;

                        @media (max-width: $BigMobileWidth) {
                            text-align: center;
                        }
                    }

                    .SkillContainer {
                        display: flex;
                        justify-content: space-evenly;
                        gap: 10px;
                        flex-wrap: wrap;
                        text-align: center;

                        span {
                            font-size: 100%;
                            border: 2px solid grey;
                            padding: 2px;
                            height: 30px;
                            width: 100%;
                            max-width: 220px;
                        }
                    }

                    .RequirementsContainer {
                        list-style-type: none;

                        li {
                            margin: 9px;
                            margin-left: 16px;
                        }
                    }

                    .JobDescription {
                        margin: 14px;

                        @media (max-width: $BigMobileWidth) {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .BackButtonContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 4vh;

            button {
                @include disable-borders;
                margin-bottom: 2vh;
                border-radius: 15px;
                font-size: 100%;
                background-color: $CoreDarkCyan;
            }
        }

        @media (max-width: $BigMobileWidth) {
            width: 100%;
        }
    }

    &.dark {
        background-color: $DarkModeBackground;

        button, p, span, li {
             color: $DarkModeFontColor;
        }
    }
}