@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
.OfferDetailView {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: scroll;
}
.OfferDetailView::-webkit-scrollbar {
  display: none;
}
.OfferDetailView__Content {
  justify-content: center;
  align-items: start;
  width: 50%;
  margin-top: 5vh;
}
.OfferDetailView__Content-Card {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 7vh;
}
.OfferDetailView__Content-Card img {
  max-width: 180px;
  max-height: 120px;
}
@media (max-width: 768px) {
  .OfferDetailView__Content-Card img {
    max-width: 120px;
    max-height: 90px;
  }
}
.OfferDetailView__Content-Card p {
  margin-top: 14px;
  text-align: center;
  font-size: 50px;
  font-family: "Sora";
}
@media (max-width: 768px) {
  .OfferDetailView__Content-Card p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .OfferDetailView__Content-Card {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
}
.OfferDetailView__Content-Datas section article {
  font-family: "Sora";
}
.OfferDetailView__Content-Datas section article p {
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .OfferDetailView__Content-Datas section article p {
    text-align: center;
  }
}
.OfferDetailView__Content-Datas section article .Skill-Container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
}
.OfferDetailView__Content-Datas section article .Skill-Container span {
  font-family: "Tilt Neon";
  font-size: 100%;
  border: 2px solid grey;
  padding: 2px;
  height: 30px;
  width: 100%;
  max-width: 220px;
}
.OfferDetailView__Content-Datas section article .Requirements-Container {
  list-style-type: none;
}
.OfferDetailView__Content-Datas section article .Requirements-Container li {
  margin: 9px;
  margin-left: 16px;
  font-family: "Tilt Neon";
  font-size: 18px;
}
.OfferDetailView__Content-Datas section article .Job-Description {
  margin: 14px;
  font-family: "Tilt Neon";
  font-size: 18px;
}
@media (max-width: 768px) {
  .OfferDetailView__Content-Datas section article .Job-Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.OfferDetailView__Content-BackButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}
.OfferDetailView__Content-BackButtonContainer button {
  border: none;
  outline: none;
  margin-bottom: 2vh;
  border-radius: 15px;
  font-size: 100%;
  background-color: rgb(47, 176, 206);
}
@media (max-width: 768px) {
  .OfferDetailView__Content {
    width: 100%;
  }
}
.OfferDetailView.dark {
  background-color: rgb(30, 47, 68);
}
.OfferDetailView.dark button, .OfferDetailView.dark p, .OfferDetailView.dark span, .OfferDetailView.dark li {
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=OfferDetailsViewStyles.css.map */